/* Setting the global font style */
:root {
    --black: #02010A;
    --pursian-blue: #04052E;
    --deep-twitlight: #140152;
    --navy: #22007C;
    --navy-electrical: #0D00A4;
}

html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;

    color: white;
    background-color: var(--pursian-blue);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card {
    background-color: var(--navy);
    border-radius: 15px;
    border: 5px solid rgb(13, 0, 164);
    padding: 10px 30px 30px 30px;
    margin-top: 15px;
    width: 60%;
    height: 60%;
    transition: box-shadow 0.3s ease-in-out;
}

.card:first-child {
    padding: 30px;
}

.card:hover {
    box-shadow: 0 0 16px rgb(13, 0, 164);
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-info img {
    width: 30%;
    height: auto;
    object-fit: cover;

    border: 15px solid var(--deep-twitlight);
    border-radius: 50%;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.projects-container a {
    text-decoration: unset;
    color: white;
}

.projects-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.projects-container .buttons-container {
    width: 90%;
    height: auto;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: unset;

    display: flex;
    flex-direction: row;
    background-color: var(--pursian-blue);
    cursor: pointer;
    padding: 0 !important;
    overflow: hidden;
}

.projects-container .table-container {
    width: 90%;
    height: auto;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
}

.projects-container table {
    width: 100%;
    height: auto;
}

.projects-container table tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container table tr,
.projects-container table th {
    width: 100%;
    height: auto;
    margin: 8px 0;
}

.projects-container table tr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projects-container table tr td{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.projects-container table tr td:first-child {
    justify-content: start;
    margin-left: 20px;
}

.projects-container table tr td a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.projects-container table tr td a img{
    filter: invert(1);
}

.projects-container table tr td:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projects-container table tr td img {
    width: 15%;
    height: auto;
}

.projects-container .buttons-container div {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border: unset;
    border-radius: unset;
}

.projects-container .buttons-container div:hover {
    background-color: var(--navy-electrical);
}

#module2 {
    display: none;
}
